*.class
*.iml
*.ipr
*.iws
*.classpath
*.project
*.prefs
*.launch
/output
eclipse/

#ForgeGradle
/build
/.gradle
/1.7.10/.gradle
/1.7.10/build
/eclipse/assets
/libs
/bin/
/run/
/out/
gradle.properties
